.clear { clear: both; }

#application {
  #location-bar {
    border-bottom: 1px solid #000;
    margin-bottom: 6px;

    h3 {
      margin-top: .6em;
      margin-bottom: 0;
    }
  }

  #current-conditions {
    text-align: center;
    width: 150px;

    .temp-and-skycon {
      canvas.skycon {
        float: left;
        height: 50px;
        width: 90px;
      }
      .temp {
        float: left;
        font-weight: bold;
        font-size: 2em;
        margin-bottom: .35em;
        margin-top: .15em;
        margin-left: -12px;
      }
    }
    .summary {
      font-size: 1.15em;
      font-weight: bold;
      margin-bottom: .1em;
    }
  }
}
